[submodule "themes/hugo-coder"]
	path = themes/hugo-coder
	url = https://github.com/luizdepra/hugo-coder.git
[submodule "submodules/nightnight"]
	path = submodules/nightnight
	url = https://github.com/nww/nightnight.git
